@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Design System Theming */
	html {
		--color-default: 236 228 236;
		--color-neutral: 29 40 58;
		--color-primary: 30 175 242;
		--color-secondary: 220 123 255;
		--color-accent: 111 114 255;
		--color-warning: 244 193 82;
		--color-error: 251 111 132;
		--color-success: 43 212 189;
		--color-info: 12 166 233;
		--color-foreground: 15 27 42;
		--color-background: 228 232 236;

		@apply bg-default text-gray-900;
	}

	html.dark {
		--color-default: 15 23 41;
		--color-neutral: 29 40 58;
		--color-primary: 30 175 242;
		--color-secondary: 220 123 255;
		--color-accent: 111 114 255;
		--color-warning: 244 193 82;
		--color-error: 251 111 132;
		--color-success: 43 212 189;
		--color-info: 12 166 233;
		--color-foreground: 228 232 236;
		--color-background: 15 23 41;

		@apply bg-default text-gray-300;
	}

	html {
		@apply scroll-smooth accent-primary;
		transition:
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out;
	}

	/* Base stylings */
	*:focus:not(:focus-visible) {
		outline: none;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}

	a:focus {
		outline: 2px solid currentColor;
		outline-offset: 0.25em;
	}

	button:focus {
		outline: 2px solid currentColor;
		outline-offset: 0.25em;
	}

	h1[id],
	h2[id],
	h3[id],
	h4[id],
	h5[id],
	#content {
		@apply scroll-mt-36 lg:scroll-mt-24;
	}
}
